<a href="https://colab.research.google.com/github/Gurudevasura/Quantitative-Analyst-Assignment/blob/main/Assignment_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORT Dependencies

In [62]:
import pandas as pd
import os
from zipfile import ZipFile

In [63]:
from glob import glob
files = glob("/content/sample_data/*.zip" )

In [64]:
files.sort()
files

['/content/sample_data/BTCUSDT-trades-2022-03-01.zip',
 '/content/sample_data/BTCUSDT-trades-2022-03-02.zip',
 '/content/sample_data/BTCUSDT-trades-2022-03-03.zip']

In [65]:
df = pd.concat( (pd.read_csv(file , names=['S.num','Traded Price','Traded Size','Traded Notional','Timestamp','b1','b2'])for file in files), ignore_index=True)
df.drop(['S.num','b1','b2'], axis=1,inplace=True)
df

         Traded Price  Traded Size  Traded Notional      Timestamp
0            43160.00      0.00056        24.169600  1646092800000
1            43160.01      0.00052        22.443205  1646092800003
2            43160.01      0.00182        78.551218  1646092800004
3            43160.01      0.00631       272.339663  1646092800005
4            43160.00      0.00229        98.836400  1646092800006
...               ...          ...              ...            ...
4809317      42454.01      0.00124        52.642972  1646351999996
4809318      42454.00      0.00257       109.106780  1646351999996
4809319      42454.01      0.00054        22.925165  1646351999997
4809320      42454.01      0.00198        84.058940  1646351999997
4809321      42454.00      0.00052        22.076080  1646351999999

[4809322 rows x 4 columns]