<a href="https://colab.research.google.com/github/Gurudevasura/Quantitative-Analyst-Assignment/blob/main/Assignment01_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORT Dependencies

In [78]:
# import pandas and Zipfile
import pandas as pd
import os
from zipfile import ZipFile

In [ ]:
#Glob return all file path as matches
from glob import glob
files = glob("/content/sample_data/*.zip" )

In [ ]:
files.sort()
files

['/content/sample_data/BTCUSDT-trades-2022-03-01.zip',
 '/content/sample_data/BTCUSDT-trades-2022-03-02.zip',
 '/content/sample_data/BTCUSDT-trades-2022-03-03.zip']

# Read loaded files

In [ ]:
#Concatenating the loaded files and read_csv
df = pd.concat( (pd.read_csv(file , names=['S.num','Traded Price','Traded Size','Traded Notional','Timestamp','b1','b2'])for file in files), ignore_index=True)
#drop columns 
df.drop(['S.num','b1','b2'], axis=1,inplace=True)
df.head()

   Traded Price  Traded Size  Traded Notional      Timestamp
0      43160.00      0.00056        24.169600  1646092800000
1      43160.01      0.00052        22.443205  1646092800003
2      43160.01      0.00182        78.551218  1646092800004
3      43160.01      0.00631       272.339663  1646092800005
4      43160.00      0.00229        98.836400  1646092800006

In [ ]:
df.describe()

       Traded Price   Traded Size  Traded Notional     Timestamp
count  4.809322e+06  4.809322e+06     4.809322e+06  4.809322e+06
mean   4.369901e+04  3.544499e-02     1.547943e+03  1.646212e+12
std    6.393248e+02  1.544273e-01     6.706469e+03  7.328628e+07
min    4.183228e+04  1.000000e-05     4.184846e-01  1.646093e+12
25%    4.335848e+04  1.050000e-03     4.561234e+01  1.646145e+12
50%    4.375748e+04  7.000000e-03     3.055158e+02  1.646211e+12
75%    4.413661e+04  2.874000e-02     1.255063e+03  1.646274e+12
max    4.540000e+04  9.911728e+01     4.218531e+06  1.646352e+12

In [ ]:
df.shape

(4809322, 4)